<head>
  <meta charset="UTF-8">
  <title>Base-vue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/x-icon" href="/favicon.ico?v=3">

</head>

<body>
  <div id="app"></div>
</body>
