<template lang="html">
  <form @submit.prevent="submit">
    <p>Acceso</p>
    <input id="username" type="text" placeholder="Usuario" required value="degredilla">
    <input id="password" type="password" placeholder="Contraseña" required value="123123">
    <input type="submit" value="Acceder">
    <router-link :to="{ name: 'signup' }">Aún no tengo cuenta</router-link>
  </form>
</template>

<script>
  export default {
    methods: {
      submit(event) {
        const self = this;
        Meteor.loginWithPassword(
          event.target.username.value,
          event.target.password.value,
          (error) => {
            if (error) {
              console.log(error);
              return;
            }
            self.$router.push('/');
          },
        );
      },
    },
  };
</script>

<style lang="scss">
</style>
