<template lang="html">
  <nav>
    <ul>
      <li v-for="link in links" :key="link.url" :class="classesObject(link)">
        <router-link :to="{ name: link.routeName, params: link.params }">
          {{link.literal}}
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
  export default {
    name: 'app-nav',
    data() {
      return {
        links: [
          {
            routeName: 'home',
            literal: 'inicio',
          },
        ],
      };
    },
    methods: {
      classesObject(link) {
        return {
          active: link.routeName === this.$route.name,
        };
      },
    },
  };
</script>
